<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
      {# <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}"> #}
    {% set css %}
      {% include "style.css" %}
    {% endset %}
    <style>
      {{ css | cssmin | safe }}
    </style>
  </head>


  <body>


<section id="nav">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
      
         {%- for nav in collections.nav | reverse -%}

        <li class="nav-item{% if nav.url == page.url %} nav-item-active{% endif %}">

        

        <button type="button" class="btn btn-outline-success">

        <a href="{{ nav.url | url }}">
        {{ nav.data.navtitle }}

        </a>
        </button>

       
        </li>
    
        {%- endfor -%}

         <li class="nav-item">
          <a class="nav-link" href="https://github.com/Ted2xmen" target="_blank">Github</a>
        </li>
      
      
       
      </ul>
    </div>
  </div>
</nav>
</section>



<section id="header">
  <div class="container">
     
    <header>
    <div class="row">
  
        <div class="col-md-9">
              <h1 class="home"><a href="{{ '/' | url }}">{{ metadata.title }}</a> <img alt="GitHub last commit" src="https://img.shields.io/github/last-commit/ted2xmen/sanity-eleventy-blog"></h1>
        </div>
        
        <div class="col-md-3">
            <img src="https://pbs.twimg.com/profile_images/1392896862093459456/tcTntWXP_400x400.jpg" alt="me">
        </div>
    </div>
  </header>     
            
  </div>
  </section>


<section id="content">
<div class="container">
    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>
</div>
</section>


<section id="slider">
<div class="container p-2">
<div class="row row-cols-1 row-cols-md-4 g-3">

<div class="col">
			<div class="card hover morder radius">
				  <div class="row">
					  <div class="col-md-2  ">
						  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Medium_logo_Monogram.svg/1024px-Medium_logo_Monogram.svg.png" style="width: 75px;" class="m-1 radius card-img-top  ml-5" alt="..."> 
					  </div>  		
					  <div class="col-md-10 "> 
						  <h5 class="card-title text-warning   pt-4">Coursera</h5>
					  </div>  
				  </div>
					  <div class="card-body">			
						  <p class="card-text fs-5 text text-muted">Learn Without Limits</p>
						  <span class="text-muted"><span class="badge bg-primary">Primary</span>&nbsp;<span class="badge bg-success">Success</span>&nbsp;<span class="badge bg-info text-light">Info minfo</span> &nbsp;</span>
					  </div> 
			  </div>
		  </div>

      <div class="col">
			<div class="card hover morder radius">
				  <div class="row">
					  <div class="col-md-2  ">
						  <img src="https://arastirmanv4.vercel.app/assets/images/logos/coursera.png" style="width: 75px;" class="m-1 radius card-img-top  ml-5" alt="..."> 
					  </div>  		
					  <div class="col-md-10 "> 
						  <h5 class="card-title text-warning   pt-4">Coursera</h5>
					  </div>  
				  </div>
					  <div class="card-body">			
						  <p class="card-text fs-5 text text-muted">Learn Without Limits</p>
						  <span class="text-muted"><span class="badge bg-primary">Primary</span>&nbsp;<span class="badge bg-success">Success</span>&nbsp;<span class="badge bg-info text-light">Info minfo</span> &nbsp;</span>
					  </div> 
			  </div>
		  </div>


         <div class="col">
			<div class="card hover morder radius">
				  <div class="row">
					  <div class="col-md-2  ">
						  <img src="https://arastirmanv4.vercel.app/assets/images/logos/coursera.png" style="width: 75px;" class="m-1 radius card-img-top  ml-5" alt="..."> 
					  </div>  		
					  <div class="col-md-10 "> 
						  <h5 class="card-title text-warning   pt-4">Coursera</h5>
					  </div>  
				  </div>
					  <div class="card-body">			
						  <p class="card-text fs-5 text text-muted">Learn Without Limits</p>
						  <span class="text-muted"><span class="badge bg-primary">Primary</span>&nbsp;<span class="badge bg-success">Success</span>&nbsp;<span class="badge bg-info text-light">Info minfo</span> &nbsp;</span>
					  </div> 
			  </div>
		  </div>

      <div class="col">
			<div class="card hover morder radius">
				  <div class="row">
					  <div class="col-md-2  ">
						  <img src="https://arastirmanv4.vercel.app/assets/images/logos/coursera.png" style="width: 75px;" class="m-1 radius card-img-top  ml-5" alt="..."> 
					  </div>  		
					  <div class="col-md-10 "> 
						  <h5 class="card-title text-warning   pt-4">Coursera</h5>
					  </div>  
				  </div>
					  <div class="card-body">			
						  <p class="card-text fs-5 text text-muted">Learn Without Limits</p>
						  <span class="text-muted"><span class="badge bg-primary">Primary</span>&nbsp;<span class="badge bg-success">Success</span>&nbsp;<span class="badge bg-info text-light">Info minfo</span> &nbsp;</span>
					  </div> 
			  </div>
		  </div>


</div>
</div>
</section>

<section id="footer">
<div class="container">
    <footer>
        <p><em>This is an <a href="https://www.11ty.io/">Eleventy</a> + <a href="https://www.sanity.io">Sanity.io</a> project made by Ted2xmen</em></p>
    </footer>
</div>
</section>

    <!-- Current page: {{ page.url | url }} -->

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>
