---
layout: layouts/home.njk
tags:
  - nav
navtitle: About
---




<div class="container text-center">
<h1>About</h1>
  <div class="row">
    
      <h3>Tuğrul Erdem Dogru</h3><p>  aka </p>  <h4>Ted2xmen</h4>
      <hr>
      <p>  
      Self-taught ⚡️ <br>
      Analog Photographer 🎞️ <br>
      Digital Collage Artist <br>
      Historian 📗 #phdlife <br>
      <b>#100DaysOfCode</b> <b>#LearningReact</b> <b>#DevJourney</b>
      </p>
  </div>
</div>




<h1>Learning</h1>


<div class="container">
  <div class="row">
    <div class="col">
        <div class="col">
      <div class="card hover">
        <div class="card-body">
          <span><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/2048px-Unofficial_JavaScript_logo_2.svg.png" alt="" style="width: 65px;"></span> <a href="">JavaScript</a>
        </div>
      </div>
    </div>
    </div>
    <div class="col">
        <div class="col">
      <div class="card hover">
        <div class="card-body">
          <span><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/React.svg/1200px-React.svg.png" alt="" style="width: 74px;"></span> <a href="">React</a>
        </div>
      </div>
    </div>
    </div>
    <div class="col">
        <div class="col">
      <div class="card hover">
        <div class="card-body">
          <span><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Node.js_logo_2015.svg/1200px-Node.js_logo_2015.svg.png" alt="" style="width: 238px;"></span> <a href="">Node JS</a>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>





<p>İletişim Kanalları <a href="{{ '/posts/' | url }}">the archive</a>.</p>