---
layout: layouts/home.njk
tags:
  - nav
navtitle: Contact
---

<h1>Contact</h1>

{% set postslist = collections.myPosts %}
{% include "postslist.njk" %}

<p>İletişim Kanalları <a href="{{ '/posts/' | url }}">the archive</a>.</p>